#footer::after {
    display: none;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2em;
}

.copyright__info {
    font-size: .8rem;
    display: inline-block;
    min-width: fit-content;
    padding-right: .8rem;
    color: hsl(var(--clr-green));
}

.horizontal__line {
    display: inline-block;
    width: 100%;
    height: 1px;
    background: hsl(var(--clr-white)/.1);
}

.footer__socials {
    display: flex;
    gap: .5em;
    margin-bottom: 0;
    padding-left: .8rem;
}

.footer_social_item {
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: var(--transition-200);
    font-size: 1rem;
    background: hsl(var(--clr-white)/.1);
    box-shadow: 2px 2px 2px hsl(var(--clr-black)/.4),
        -2px -2px 2px hsl(var(--clr-white)/.05), inset 0 0 0 hsl(var(--clr-black)),
        inset 0 0 0 hsl(var(--clr-white)/.0);
}

.footer_a_item {
    display: flex;
}

.footer_social_item:hover,
.footer_social_item:focus {
    background: hsl(var(--clr-white)/.1);
    color: hsl(var(--clr-white));
    box-shadow: 0 0 0 hsl(var(--clr-black)/.0), 0 0 0 hsl(var(--clr-white)/.0),
        inset 3px 3px 3px hsl(var(--clr-black)/.8),
        inset -3px -3px 3px hsl(var(--clr-white)/.05);
}