.header__container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.header__wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: hsl(var(--clr-bg-dark)/.75);
}

.my__photo {
    justify-self: center;
    width: 250px;
    border-radius: var(--smallBR);
    box-shadow: 0 0 .8em hsl(var(--clr-black)/.5);
    background-color: transparent;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: var(--smallBR);
}

.hello__title {
    font-weight: 300;
}

.header__btn {
    display: flex;
    margin-top: .6em;
    gap: 1em;
    justify-content: center;
}

.header__socials {
    display: flex;
    justify-content: start;
}

.header_social_item {
    padding-top: .4em;
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_social_item:first-child {
    margin-left: 12px;
}

.header_a_item {
    transition: var(--transition-200)
}

.header_a_item:hover {
    color: hsl(var(--clr-black)/.7);
    filter: drop-shadow(0px 0px 10px hsl(var(--clr-white)));
}

@media screen and (max-width:900px) {
    .header__container {
        grid-template-columns: 1.6fr 2fr;
        gap: 1em;
    }


}

@media screen and (max-width:600px) {
    .header__container {
        display: flex;
        flex-direction: column;
    }


    .header__wrapper>h1 {
        font-size: 1.5rem;
    }

    .header__wrapper>h5 {
        font-size: 1.1rem;
    }

    .header__wrapper {
        align-items: center;
    }

    .my__photo {
        width: 200px;
        height: 300px;
    }
}