.about__container {
    margin-top: 4em;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2em;
}

.left__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.about__info {
    height: 100%;
}

.about__title {
    text-align: center;
    color: hsl(var(--clr-green));
}

.about__info>p {
    margin: .5em 0 0 0;
    color: hsl(var(--clr-white));
}

.about__btn>a {
    width: 100%;
}

.right__wrapper {
    display: flex;
    flex-direction: column;
}

.experience__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5em;
    margin-top: .5em;
    width: 100%;
    height: 100%;
}

.experience__card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .8em;
    border-radius: var(--smallBR);
    background: hsl(var(--clr-white)/.1);
    color: hsl(var(--clr-white));
    transition: var(--transition-200);
    border: 1px solid transparent;
    cursor: default;
}

.experience__card:hover {
    transform: scale(.85);
    box-shadow: inset 0px 0px 10px hsl(var(--clr-black)/.6);
    background: hsl(var(--clr-white)/.05);
}

@media screen and (max-width:600px) {
    .about__container {
        margin-top: 1.25em;
        display: flex;
        flex-direction: column;
    }

    .about__title {
        text-align: center;
        color: hsl(var(--clr-white)/.8);
    }

    .about__btn {
        margin-top: 1rem;
    }

    .experience__card {
        height: 50px;
    }
}